*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: #F1F2F4;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700; 
    transform: skewX(-10deg); 
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    
}
.navbar{
    display: flex;
    background-color: #2874F0;
    align-items: center;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    
}
.navbar h2{
    color: white;
    margin-right: 5%;
}
.left{
    display: flex;
    gap: 40px;
    margin-right: 10%;
}
.left a{
    color: white;

}
#search{
    width: 29vw;
    height: 5vh;
    padding-left: 10px;
    border-radius: 5px;
    background-color: #F0F5FF;
    background-image: url(assets/search.png);
    background-repeat: no-repeat;
    text-indent: 30px;
    background-size: 20px 20px; 
    background-position: 10px center;
    margin-right: 5px;
}
#btn{
    padding: 5px;
    border-radius: 5px;
    background-color: #2874F0;
    border: 2px solid white;
    color: white;
    font-weight: 600;
}
.right{
    margin-left: 3%;
    display: flex;
    align-items: center;
    color: white;
}
#carttxt{
    text-align: center;
    margin-left: 7px;
   
}
#person{
    margin-left: 32px;
}
#logout{
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: blue;
    font-weight: 700;
    margin-left: 50px;
    border-radius: 5px;
}
.part2 {
    background-color: white;
    margin: 10px 20px; 
    padding: 10px 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
   
}

 .items{
    display: flex;
    gap: 4vw;
    align-items: center;
    text-align: center;
}


#fashion{
    padding-bottom: 14px;
   
}
#electronics{
    padding-top: 10px;
    margin-bottom: 20px;
}
#mainimg{
    width: 97%;
    height:40vh;
    margin: 8px 20px;
    object-fit: cover;
    overflow: hidden;
}
.part4{
    background-color: white;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
}
.part4 h1{
padding: 20px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
}
.electronicsection{
    display: flex;
    gap: 2vw;
}
.products{
    display: flex;
    gap: 1vw;
    align-items: center;
    
}
.products img{
    width: 12vw;
    height: 30vh;

}

#headphones{
    display: flex;
    flex-direction: column;
    border: 2px solid #E0E0E0;
    padding: 10px 20px;
    text-align: center;
    gap: 10px;
}
.electronicbox{
    display: flex;
    font-family: 'Roboto', sans-serif;
}
#offer{
    width: 15vw;
    height: 50vh;
    object-fit: cover;
    border: none;
    margin-top: 40px;
}
.beautysection{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px 20px;
}
.beautyproducts{
    margin-left: 1px;
    display: flex;
    gap: 1vw;
    text-align: center;
    line-height: 25px;
}
#beauty{
    display: flex;
    flex-direction: column;
    width: 12vw;
    height: 30vh;
}
.beautysection h1{
    padding: 20px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
}
.teddy{
    border: 2px solid #E0E0E0;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
}
.box{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 45%;
    margin: 10px 20px;
    
   
} 
.box h1{
    padding: 20px;
    font-family: 'Roboto', sans-serif;
font-weight: 500;
}
.box1{
    display: flex;
    flex-direction: column;
    height: 110vh;

}
.boxpart1 {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}
.boxpart2{
    display: flex;
}
.toprated{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    border: 2px solid #E0E0E0;
}
.toprated h4{
color: green;
}

#top{
   padding: 20px;
}
#top3{
    margin-top: -32px;
}
#fullpic{
    margin-top: 10px;
  width: 99%;
  height: 121vh;
  margin-left: -11px;
}
.container{
    display: flex;

}
