*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
.navbar{
    display: flex;
    background-color: #2874F0;
    align-items: center;
    padding: 17px;
   
}
.left{
    display: flex;
    height: 20%;
}